@charset "UTF-8";

    /**Paleta de Cores:
    /**Verde:: #49a09d
    /**Lilás: #5f2c82**/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

#login {
    background-color: white;
    display: block;
    height: 500px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.308);
    overflow: hidden;
}

#imagem {
    background: url(../imagens/predio.jpg) no-repeat top center / cover;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 34%;
}

#formulario {
    display: block;
    align-items: center;
    width: 100%;
    padding: 0px 10px 10px 10px;
}

#formulario h1 {
    font-size:1.5em;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

#formulario p {
    font-size: 0.8em;
    
}

#email {
    margin-top: 10px;
    align-items: center;
}

.campo {
    background-color: #5f2c82;
    display: flex;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}



.iemail-isenha {
    background-color: #87ccca;
    border: 0px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;

}

#entrar {
    display: flex;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #53aaa7;
    color: white;
    border: none;
    border-radius: 10px;
    margin-bottom: 5px;
}

.link-botao {
    text-decoration: none;
    color: #3d7a78;
    border: 1px solid #357471;
    display: flex;
    align-items: center;
    padding: 12px;
    justify-content: center;
    border-radius: 10px;
    height: 40px;

}

.link-botao > i {
    font-size: 0.8em;
    padding:6px 0px 0px 3px ;
    

}

a:hover,.material-symbols-outlined:hover {
    background-color: #357471;
    color: white;
}

#entrar:hover {
    background-color: #3d7a78;
}

@media screen and (min-width: 768px) {



    #login {
        width: 80vw;
        height: 70vh;
        display: flex;
        
    }

    #imagem {
        height: 100%;
    }

    #formulario {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    #formulario h1 {
        font-size: 3em;
        margin-top: 10px;

    }

    #formulario p {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 10px;
        width: 330px;
    }

    .campo {
        padding: 7px;
        height: 80px;
    }

    .iemail-isenha {
        padding: 15px;
        height: 60px;
        width: 250px;
    }

    .iemail-isenha::placeholder {
        font-size: 1.3em;
    }

    .svgs {
        width: 30px;
        margin-right: 10px;
    }

    #entrar {
        height: 60px;
        font-size: 1.3em;
        cursor: pointer;
    }

    .link-botao {
        height: 60px;
        font-size: 1.3em;
    }
}

@media screen and (min-width: 992px) {
    #login {
        display: flex;
        flex-direction: row-reverse ;
        
    }
}

@media screen and (min-width: 1921px) {
    form {
        width: 500px;
    }

    .iemail-isenha {
        width: 90%;
    }
}